Repository nocproject/noc-docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash, lint_yaml, lint_prometheus, lint_grafana

.gitlab-ci.yml:

---
variables:
  PROMETHEUS_VERSION: v2.14.0
  COMPOSE_HTTP_TIMEOUT: "300"
#  GET_SOURCES_ATTEMPTS: 3
#  GIT_CLEAN_FLAGS: none
  GIT_STRATEGY: clone
  
stages:
  - lint
  - .pre
  - test

clear_stage:
  stage: .pre
  script:
    - chmod 777 -R ./
    - rm -rf ./*
  allow_failure: true
  tags:
    - shell

lint_bash:
  stage: lint
  before_script:
    - apk update && apk add bash shellcheck
  script:
    - shellcheck pre.sh clean.sh ./backup/backup.sh ./backup/restore.sh
  rules:
    - changes:
      - pre.sh
      - clean.sh
      - ./backup/backup.sh
      - ./backup/restore.sh
  tags:
    - docker
    
lint_yaml:
  stage: lint
  image: registry.getnoc.com/infrastructure/ansible_linter:master
  script:
    - yamllint docker-*.yml
  rules:
    - changes:
      - "docker-*.yml"
  tags:
    - docker

lint_prometheus:
  stage: lint
  image:
    name: prom/prometheus:$PROMETHEUS_VERSION
    entrypoint: [""]
  script:
    - promtool check config ./data/prometheus/etc/prometheus.yml
  rules:
    - changes:
      - "./data/prometheus/etc/prometheus.yml"
  tags:
    - docker

lint_grafana:
  stage: lint
  image:
    name: grafana/grafana:6.3.6
    entrypoint: [""]
  script:
    - grafana-cli --homepath=/usr/share/grafana 
      --config ./data/grafana/etc/grafana.ini admin reset-admin-password admin
  rules:
    - changes:
      - ./data/grafana/etc/grafana.ini
  tags:
    - docker

docker.compose:
  stage: test
  allow_failure: true
  before_script:
    # TODO
    # need auth in registry
    # docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY or use
    - rm /home/gitlab-runner/.docker/config.json || true
    - ./pre.sh -p env -d $PWD
    - env
    - ./pre.sh -p sentry -d $PWD
    - ./pre.sh -p env -d $PWD
    - docker-compose down -v --remove-orphans
    - docker-compose -f docker-compose-infra.yml down -v  --remove-orphans
    - chmod +x clean.sh
    - ./clean.sh -p all
 #   - rm -rf ./*
  #artifacts:
   # untracked: true
    #when: always
    #expire_in: 6h
    #paths:
     # - ./data/grafana/plugins/*
      #- ./data/promgrafana/plugins/*
  script:
    - ./pre.sh -p all -d $PWD
    - docker --version
    - docker-compose --version
    - docker-compose up migrate
    - docker-compose up -d
    - docker-compose -f docker-compose-infra.yml up -d
  after_script:
    - docker-compose down -v --remove-orphans
    - docker-compose -f docker-compose-infra.yml down -v  --remove-orphans
    - chmod +x clean.sh
    - ./clean.sh -p all
  tags:
    - shell

Add "Healtscheck" for traefik and enable healtcheck in traefik
  docker-compose.yml
Due: lint_yaml

Add healthcheck in noc containers
  docker-compose.yml
Due: lint_yaml

Add "Healtscheck" for mongo
  docker-compose.yml
Due: lint_yaml

Add "Healtscheck" for nsqlookupd, redis
  docker-compose.yml
Due: lint_yaml

Move enviropment to .env.infa. Fix internet connection check.
  docker-compose.yml
Due: lint_yaml

Add "Healtscheck" for nsqd, nginx
  docker-compose.yml
Due: lint_yaml

Add "Healtscheck" for grafana
  docker-compose.yml
Due: lint_yaml

Remove ssl check in nginx
  docker-compose.yml
Due: lint_yaml

Add "Healtscheck" for traefik
  docker-compose.yml
Due: lint_yaml

Fix lint yaml
  docker-compose.yml
Due: lint_yaml

Update doc for 'cythonize'
  Readme.develop.md
  pre.sh
Due: lint_bash

Install 'cythonize' if .so not exist
  docker-compose.yml
Due: lint_yaml

Add container for generate cythonize speedup
  docker-compose.yml
  pre.sh
Due: lint_bash, lint_yaml

Update docs
  Readme.develop.md
Due: none

Add port for vmalert web
  Readme.md
  docker-compose-infra.yml
Due: lint_yaml

Infra-replace-prometheus-victoriametrics
  Readme.md
  clean.sh
  data/vmagent/etc/Readme.md
  data/vmagent/etc/prometheus.yml
  docker-compose-infra.yml
  pre.sh
Due: lint_bash, lint_yaml

Noc-dev-cythonize
  Readme.develop.md
  docker-compose.yml
  pre.sh
Due: lint_bash, lint_yaml

Update LICENSE
  LICENSE
Due: none

Add VERSION file
  VERSION
Due: none

Update LICENSE.RU ещ 2020
  LICENSE.RU
Due: none

Add ru license file
  LICENSE.RU
Due: none

Add VERSION file
  LICENSE
  LICENSE.RU
  VERSION
Due: none

Fix command
  docker-compose-addhosts.yml
Due: lint_yaml

Up version
  VERSION
Due: none

Add config for Redis cache
  pre.sh
Due: lint_bash

Add config for Redis cache
  VERSION
Due: none

Add config for Redis cache
  docker-compose-addhosts.yml
Due: lint_yaml

Update doc for Redis cache
  Readme.develop.md
Due: none

Fix-import-command
  VERSION
  docker-compose-addhosts.yml
Due: lint_yaml

Fix-import-command
  docker-compose-addhosts.yml
Due: lint_yaml
