Repository nocproject/noc-docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash, lint_yaml, lint_prometheus, lint_grafana

lint_bash:
  stage: lint
  before_script:
  - apk update && apk add bash shellcheck
  script:
  - shellcheck pre.sh clean.sh ./backup/backup.sh ./backup/restore.sh
  tags:
  - docker

lint_yaml:
  stage: lint
  image: registry.getnoc.com/infrastructure/ansible_linter:master
  script:
  - yamllint docker-*.yml
  tags:
  - docker

lint_prometheus:
  stage: lint
  image:
    name: prom/prometheus:$PROMETHEUS_VERSION
    entrypoint:
    - ''
  script:
  - promtool check config ./data/prometheus/etc/prometheus.yml
  tags:
  - docker

lint_grafana:
  stage: lint
  image:
    name: grafana/grafana:6.3.6
    entrypoint:
    - ''
  script:
  - grafana-cli --homepath=/usr/share/grafana --config ./data/grafana/etc/grafana.ini admin reset-admin-password admin
  tags:
  - docker

Fix vmalert -remoteWrite url
  docker-compose-infra.yml
Due: lint_yaml

Add volume for vmagent
  docker-compose-infra.yml
Due: lint_yaml

Add env and TODO
  docker-compose-infra.yml
Due: lint_yaml

Move enviropment to .env.infa. Fix internet connection check.
  docker-compose-infra.yml
  docker-compose.yml
Due: lint_yaml

Remove unused scrape config
  data/vmagent/etc/prometheus.yml
Due: none

Update vm env.infra template
  docker-compose-infra.yml
Due: lint_yaml

Enable vmagent
  docker-compose-infra.yml
Due: lint_yaml

Change dir for PROM rules
  docker-compose-infra.yml
  pre.sh
Due: lint_bash, lint_yaml

Fix env.infra template
  pre.sh
Due: lint_bash

Change remoteWrite from https to http
  docker-compose-infra.yml
Due: lint_yaml

Fix path for alert rules
  docker-compose-infra.yml
  pre.sh
Due: lint_bash, lint_yaml

Remove remote_write in prom.conf. Set vmagent use ENV
  data/vmagent/etc/prometheus.yml
  docker-compose-infra.yml
Due: lint_yaml

Add volume for vmagent
  docker-compose-infra.yml
  pre.sh
Due: lint_bash, lint_yaml

Change depend for grafana.
  docker-compose-infra.yml
Due: lint_yaml

Update vm env.infra template
  docker-compose-infra.yml
  pre.sh
Due: lint_bash, lint_yaml

Fix pre.sh SC2181
  pre.sh
Due: lint_bash

Improve echo message in SETUPPTOXY
  pre.sh
Due: lint_bash

Move enviropment to .env.infa. Fix internet connection check.
  docker-compose-infra.yml
  pre.sh
Due: lint_bash, lint_yaml

up vm* to 1.37.1
  docker-compose-infra.yml
Due: lint_yaml

Add "Healtscheck" for nsqlookupd, redis
  docker-compose.yml
Due: lint_yaml

Remove ssl check in nginx
  docker-compose.yml
Due: lint_yaml

Add "Healtscheck" for grafana
  docker-compose.yml
Due: lint_yaml

More messages
  pre.sh
Due: lint_bash

Fix mkdir in MacOS
  pre.sh
Due: lint_bash

Add "Healtscheck" for nsqd, nginx
  docker-compose.yml
Due: lint_yaml

Add "Healtscheck" for traefik and enable healtcheck in traefik
  docker-compose.yml
Due: lint_yaml

Move enviropment to .env.infa. Fix internet connection check.
  docker-compose.yml
Due: lint_yaml

Add "Healtscheck" for traefik
  docker-compose.yml
Due: lint_yaml

Add "Healtscheck" for mongo
  docker-compose.yml
Due: lint_yaml

Path conditions:
  lint_bash: any of: pre.sh, clean.sh, ./backup/backup.sh, ./backup/restore.sh
  lint_yaml: any of: docker-*.yml
  lint_prometheus: any of: ./data/prometheus/etc/prometheus.yml
  lint_grafana: any of: ./data/grafana/etc/grafana.ini
