Repository nocproject/noc-docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash, lint_yaml, lint_prometheus, lint_grafana

lint_bash:
  stage: lint
  before_script:
  - apk update && apk add bash shellcheck
  script:
  - shellcheck pre.sh clean.sh ./backup/backup.sh ./backup/restore.sh
  tags:
  - docker

lint_yaml:
  stage: lint
  image: registry.getnoc.com/infrastructure/ansible_linter:master
  script:
  - yamllint docker-*.yml
  tags:
  - docker

lint_prometheus:
  stage: lint
  image:
    name: prom/prometheus:$PROMETHEUS_VERSION
    entrypoint:
    - ''
  script:
  - promtool check config ./data/prometheus/etc/prometheus.yml
  tags:
  - docker

lint_grafana:
  stage: lint
  image:
    name: grafana/grafana:6.3.6
    entrypoint:
    - ''
  script:
  - grafana-cli --homepath=/usr/share/grafana --config ./data/grafana/etc/grafana.ini admin reset-admin-password admin
  tags:
  - docker

Add proxy support v.2
  pre.sh
Due: lint_bash

Move proxy env to file
  docker-compose-infra.yml
  docker-compose.yml
  pre.sh
Due: lint_bash, lint_yaml

Move proxy env to file
  Readme.md
Due: none

Create .env.proxy in ``-p all`
  pre.sh
Due: lint_bash

Create .env.proxy in ``-p all`
  docker-compose.yml
Due: lint_yaml

Fix doc
  Readme.md
Due: none

Fix echo
  pre.sh
Due: lint_bash

Always create .env.proxy file
  pre.sh
Due: lint_bash

Update .env.proxy file not add new row
  pre.sh
Due: lint_bash

Initial commit
  docker-compose-shell.yml
Due: lint_yaml

Add doc for python *shell*
  Readme.develop.md
Due: none

Use *ipython* instead *python*
  docker-compose-shell.yml
Due: lint_yaml

Add doc for python *shell*
  Readme.develop.md
  docker-compose-shell.yml
  pre.sh
Due: lint_bash, lint_yaml

Dangerous example removed
  Readme.develop.md
Due: none

Add proxy support
  Readme.md
  docker-compose-infra.yml
  docker-compose.yml
  pre.sh
Due: lint_bash, lint_yaml

Return noc.conf
  data/noc/etc/noc.conf.example
Due: none

Refactor noc.conf.example
  Readme.faq.md
  data/noc/etc/.gitkeep
  data/noc/etc/noc.conf.example
Due: none

Delete noc.conf.example
  data/data/noc/etc/noc.conf.example
Due: none

Return noc.conf.example
  data/data/noc/etc/noc.conf.example
Due: none

Delete .gitkeep
  data/noc/et/.gitkeep
Due: none

Add new directory
  data/noc/et/.gitkeep
Due: none

Add new directory
  data/noc/etc/.gitkeep
Due: none

Update pre.sh
  pre.sh
Due: lint_bash

Move FAQ from readme.md to Readme.faq.md
  Readme.faq.md
Due: none

Remove FAQ from Readme.md
  Readme.md
Due: none

Add lag Readme.faq.md
  Readme.faq.md
Due: none

Add vi/card/login/web lang support
  pre.sh
Due: lint_bash

Update Readme.faq.md
  Readme.faq.md
Due: none

Add.lang
  Readme.faq.md
  Readme.md
  pre.sh
Due: lint_bash

Add lint to prometheus\alerta monitoring
  Readme.md
Due: none

Fix NSQD file store path
  docker-compose.yml
Due: lint_yaml

Initial commit
  slowstart.sh
Due: none

The script starts the containers sequentially. Recommended for use on slow HDDs and laptops.
  slowstart.sh
Due: none

Update doc for slow HDD and notebook.
  Readme.faq.md
  Readme.md
Due: none

Add --wiredTigerDirectoryForIndexes in mongo for NOC compatibility
  docker-compose.yml
Due: lint_yaml

Path conditions:
  lint_bash: any of: pre.sh, clean.sh, ./backup/backup.sh, ./backup/restore.sh
  lint_yaml: any of: docker-*.yml
  lint_prometheus: any of: ./data/prometheus/etc/prometheus.yml
  lint_grafana: any of: ./data/grafana/etc/grafana.ini
