Repository nocproject/noc-docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash, lint_yaml, lint_prometheus, lint_grafana

.gitlab-ci.yml:

---
variables:
  PROMETHEUS_VERSION: v2.14.0
  COMPOSE_HTTP_TIMEOUT: "300"
#  GET_SOURCES_ATTEMPTS: 3
#  GIT_CLEAN_FLAGS: none
  GIT_STRATEGY: clone
  
stages:
  - lint
  - .pre
  - test

clear_stage:
  stage: .pre
  script:
    - chmod 777 -R ./
    - rm -rf ./*
  allow_failure: true
  tags:
    - shell

lint_bash:
  stage: lint
  before_script:
    - apk update && apk add bash shellcheck
  script:
    - shellcheck pre.sh clean.sh ./backup/backup.sh ./backup/restore.sh
  rules:
    - changes:
      - pre.sh
      - clean.sh
      - ./backup/backup.sh
      - ./backup/restore.sh
  tags:
    - docker
    
lint_yaml:
  stage: lint
  image: registry.getnoc.com/infrastructure/ansible_linter:master
  script:
    - yamllint docker-*.yml
  rules:
    - changes:
      - "docker-*.yml"
  tags:
    - docker

lint_prometheus:
  stage: lint
  image:
    name: prom/prometheus:$PROMETHEUS_VERSION
    entrypoint: [""]
  script:
    - promtool check config ./data/prometheus/etc/prometheus.yml
  rules:
    - changes:
      - "./data/prometheus/etc/prometheus.yml"
  tags:
    - docker

lint_grafana:
  stage: lint
  image:
    name: grafana/grafana:6.3.6
    entrypoint: [""]
  script:
    - grafana-cli --homepath=/usr/share/grafana 
      --config ./data/grafana/etc/grafana.ini admin reset-admin-password admin
  rules:
    - changes:
      - ./data/grafana/etc/grafana.ini
  tags:
    - docker

docker.compose:
  stage: test
  allow_failure: true
  before_script:
    # TODO
    # need auth in registry
    # docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY or use
    - rm /home/gitlab-runner/.docker/config.json || true
    - ./pre.sh -p env -d $PWD
    - env
    - ./pre.sh -p sentry -d $PWD
    - ./pre.sh -p env -d $PWD
    - docker-compose down -v --remove-orphans
    - docker-compose -f docker-compose-infra.yml down -v  --remove-orphans
    - chmod +x clean.sh
    - ./clean.sh -p all
 #   - rm -rf ./*
  #artifacts:
   # untracked: true
    #when: always
    #expire_in: 6h
    #paths:
     # - ./data/grafana/plugins/*
      #- ./data/promgrafana/plugins/*
  script:
    - ./pre.sh -p all -d $PWD
    - docker --version
    - docker-compose --version
    - docker-compose up migrate
    - docker-compose up -d
    - docker-compose -f docker-compose-infra.yml up -d
  after_script:
    - docker-compose down -v --remove-orphans
    - docker-compose -f docker-compose-infra.yml down -v  --remove-orphans
    - chmod +x clean.sh
    - ./clean.sh -p all
  tags:
    - shell

Add config for Redis cache
  pre.sh
Due: lint_bash

Add config for Redis cache
  docker-compose-addhosts.yml
Due: lint_yaml

Add config for Redis cache
  VERSION
Due: none

Update pre.sh
  pre.sh
Due: lint_bash

fix
  docker-compose-addhosts.yml
Due: lint_yaml

Update Readme.develop.md
  Readme.develop.md
Due: none

Move redis doc from dev to main
  Readme.develop.md
  Readme.faq.md
Due: none

Noc configure cache
  Readme.faq.md
  pre.sh
Due: lint_bash

Remove unneeded prometheus chmod
  pre.sh
Due: lint_bash

Use ${...} instead $... in variables
  docker-compose.yml
Due: lint_yaml

fix path to config Use ${...} instead $... in variables
  .gitlab-ci.yml
Due: none

Update docker-compose.yml
  docker-compose.yml
Due: lint_yaml
