Repository nocproject/noc-docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash, lint_yaml, lint_prometheus, lint_grafana

.gitlab-ci.yml:

---
variables:
  PROMETHEUS_VERSION: v2.14.0
  COMPOSE_HTTP_TIMEOUT: "300"
#  GET_SOURCES_ATTEMPTS: 3
#  GIT_CLEAN_FLAGS: none
  GIT_STRATEGY: clone
  
stages:
  - lint
  - .pre
  - test

clear_stage:
  stage: .pre
  script:
    - chmod 777 -R ./
    - rm -rf ./*
  allow_failure: true
  tags:
    - shell

lint_bash:
  stage: lint
  before_script:
    - apk update && apk add bash shellcheck
  script:
    - shellcheck pre.sh clean.sh ./backup/backup.sh ./backup/restore.sh
  rules:
    - changes:
      - pre.sh
      - clean.sh
      - ./backup/backup.sh
      - ./backup/restore.sh
  tags:
    - docker
    
lint_yaml:
  stage: lint
  image: registry.getnoc.com/infrastructure/ansible_linter:master
  script:
    - yamllint docker-*.yml
  rules:
    - changes:
      - "docker-*.yml"
  tags:
    - docker

lint_prometheus:
  stage: lint
  image:
    name: prom/prometheus:$PROMETHEUS_VERSION
    entrypoint: [""]
  script:
    - promtool check config ./data/prometheus/etc/prometheus.yml
  rules:
    - changes:
      - "./data/prometheus/etc/prometheus.yml"
  tags:
    - docker

lint_grafana:
  stage: lint
  image:
    name: grafana/grafana:6.3.6
    entrypoint: [""]
  script:
    - grafana-cli --homepath=/usr/share/grafana 
      --config ./data/grafana/etc/grafana.ini admin reset-admin-password admin
  rules:
    - changes:
      - ./data/grafana/etc/grafana.ini
  tags:
    - docker

docker.compose:
  stage: test
  allow_failure: true
  before_script:
    # TODO
    # need auth in registry
    # docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY or use
    - rm /home/gitlab-runner/.docker/config.json || true
    - ./pre.sh -p env -d $PWD
    - env
    - ./pre.sh -p sentry -d $PWD
    - ./pre.sh -p env -d $PWD
    - docker-compose down -v --remove-orphans
    - docker-compose -f docker-compose-infra.yml down -v  --remove-orphans
    - chmod +x clean.sh
    - ./clean.sh -p all
 #   - rm -rf ./*
  #artifacts:
   # untracked: true
    #when: always
    #expire_in: 6h
    #paths:
     # - ./data/grafana/plugins/*
      #- ./data/promgrafana/plugins/*
  script:
    - ./pre.sh -p all -d $PWD
    - docker --version
    - docker-compose --version
    - docker-compose up migrate
    - docker-compose up -d
    - docker-compose -f docker-compose-infra.yml up -d
  after_script:
    - docker-compose down -v --remove-orphans
    - docker-compose -f docker-compose-infra.yml down -v  --remove-orphans
    - chmod +x clean.sh
    - ./clean.sh -p all
  tags:
    - shell

Fix pre.sh SC2181
  pre.sh
Due: lint_bash

Enable vmagent
  docker-compose-infra.yml
Due: lint_yaml

Update vm env.infra template
  docker-compose-infra.yml
  pre.sh
Due: lint_bash, lint_yaml

up vm* to 1.37.1
  docker-compose-infra.yml
Due: lint_yaml

Change dir for PROM rules
  docker-compose-infra.yml
  pre.sh
Due: lint_bash, lint_yaml

Fix env.infra template
  pre.sh
Due: lint_bash

Move enviropment to .env.infa. Fix internet connection check.
  docker-compose-infra.yml
  pre.sh
Due: lint_bash, lint_yaml

Change remoteWrite from https to http
  docker-compose-infra.yml
Due: lint_yaml

Add env and TODO
  docker-compose-infra.yml
Due: lint_yaml

Fix path for alert rules
  docker-compose-infra.yml
  pre.sh
Due: lint_bash, lint_yaml

Improve echo message in SETUPPTOXY
  pre.sh
Due: lint_bash

More messages
  pre.sh
Due: lint_bash

Fix mkdir in MacOS
  pre.sh
Due: lint_bash

Fix vmalert -remoteWrite url
  docker-compose-infra.yml
Due: lint_yaml

Remove remote_write in prom.conf. Set vmagent use ENV
  data/vmagent/etc/prometheus.yml
  docker-compose-infra.yml
Due: lint_yaml

Update vm env.infra template
  docker-compose-infra.yml
Due: lint_yaml

Move enviropment to .env.infa. Fix internet connection check.
  docker-compose-infra.yml
Due: lint_yaml

Change dir for PROM rules
  docker-compose-infra.yml
Due: lint_yaml

Fix path for alert rules
  docker-compose-infra.yml
Due: lint_yaml

Add volume for vmagent
  docker-compose-infra.yml
Due: lint_yaml

Remove unused scrape config
  data/vmagent/etc/prometheus.yml
Due: none

Add "Healtscheck" for clickhouse
  docker-compose.yml
Due: lint_yaml

Add "Healtscheck" for traefik and enable healtcheck in traefik
  docker-compose.yml
Due: lint_yaml

Add "Healtscheck" for nsqd, nginx
  docker-compose.yml
Due: lint_yaml

Add "Healtscheck" for mongo
  docker-compose.yml
Due: lint_yaml

Add "Healtscheck" for grafana
  docker-compose.yml
Due: lint_yaml

Add "Healtscheck" for traefik
  docker-compose.yml
Due: lint_yaml

Add "Healtscheck" for consul
  docker-compose.yml
Due: lint_yaml

Add "Healtscheck" for nsqlookupd, redis
  docker-compose.yml
Due: lint_yaml

Remove ssl check in nginx
  docker-compose.yml
Due: lint_yaml
